@font-face {
  font-family: x;
  src: url(../../../../assets/font/Chicago.otf);
}

.container{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.53);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.278);
}
header img{
  width:30px;
  margin: .5rem;
  margin-top: 0;
  opacity: .7;
  cursor: pointer;
  margin-bottom: .2rem;
  margin-left: 1.5rem;

}
header img:hover{
  opacity: 1;
}

nav ul{
  display: flex;
  margin-right: 1.5rem;
}
nav ul li{
  font-family: x;
  list-style: none;
  margin: .5rem 1rem;
  margin-bottom: .2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
  opacity: .8;
  padding: .2rem .3rem;
}
.profile{
  width:30px;
}
nav ul .img{
  margin-top: 0;
}
nav ul li:hover{
  opacity: 1;
}
